.myYellowText {
    background-color: rgb(240, 240, 134);
}
.myRedText {
    background-color: rgb(236, 78, 78);
}
.myBlueText {
    background-color: rgb(117, 117, 236);
}

.myBlueDuplicates {
    background-color: blue;
}
