<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>My app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});
            google.charts.load('current', {'packages':['table']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart1);
            google.charts.setOnLoadCallback(drawChart2);

            google.charts.setOnLoadCallback(drawTable);
            google.charts.setOnLoadCallback(drawLineChart);
            google.charts.setOnLoadCallback(drawScatterPlot);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            data_from_django = {{ values|safe }};
            widget.init(data_from_django);


            function drawChart1() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows(data_from_django);

                // Set chart options
                var options = {
                title: 'Total Emotions',
                pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }


            function drawChart2() {

                // Create the data table.

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows({{val_pie_today|safe}});

                // Set chart options
                var options = {
                title: 'Daily Emotions',
                pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
                chart.draw(data, options);
                }
            
            data_from_django2 = {{ table_values|safe }};
            widget.init(data_from_django2);

            function drawTable() {
                var djangodata = {{table_values|safe}};
                var data = new google.visualization.DataTable();
                // data.addColumn('string', 'Метрика');
                // data.addColumn('number', 'Кол-во');
                // data.addColumn('boolean', 'Полное отсутствие');
                // data.addRows([
                // ['Mike',  {v: 10000, f: '$10,000'}, true],
                // ['Jim',   {v:8000,   f: '$8,000'},  false],
                // ['Alice', {v: 12500, f: '$12,500'}, true],
                // ['Bob',   {v: 7000,  f: '$7,000'},  false]
                // ]);

                var table = new google.visualization.Table(document.getElementById('table_div'));

                table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
            }
            
 
            function drawLineChart() {
                
                var data = google.visualization.arrayToDataTable({{ val_dict_str|safe }});

                var options = {
                title: 'Daily average temperature',
                curveType: 'function',
                legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }

            function drawScatterPlot() {
                var data = google.visualization.arrayToDataTable({{val_scatter|safe}});

                var options = {
                title: 'Average temperature vs. Joyfullness',
                hAxis: {title: 'Joyfullness', minValue: 0, maxValue: 7},
                vAxis: {title: 'Temperature', minValue: 0, maxValue: 10},
                legend: 'none'
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('Scatterchart_div'));

                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <nav class = 'navbar navbar-default navbar-static-top'>
            <div class = 'container'>
                <ul class = 'nav navbar-nav'>
                    <li><a class='navbar-brand' href="{% url 'index'%}">FOODTRACKER</a></li>
                    <!-- <li><a class = 'navbar-link' href="{% url 'admin:index'%}">Admin</a></li> -->
                    <li><a class = 'navbar-link' href="{% url 'basic_app:emotions_form'%}">EMOTIONS FORM</a></li>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:emotions'%}">MY EMOTIONS</a></li>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:vis'%}">CHARTS</a></li>

                </ul>
                <ul class = 'nav navbar-nav mr-auto navbar-right'>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:signup'%}">Sign up</a></li>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:login'%}">Login</a></li>

                </ul>
            </div>
        </nav>


 

    <!--Div that will hold the pie chart-->
    <!-- <div id="donutchart"></div> -->
    <!--Table and divs that hold the pie charts-->
    <div class = 'container'>
    <table class="columns">
        <tr>
          <td><div id="donutchart" style="border: 1px solid #ccc"></div></td>
          <td><div id="donutchart2" style="border: 1px solid #ccc"></div></td>
        </tr>
      </table>
    </div>
    <br>

    <div id="table_div"></div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <div id="Scatterchart_div" style="width: 900px; height: 500px"></div>


</body>
</html>