{% extends "basic_app/base.html" %}
    {% block body_block %}
    <div class = 'container'>
        <h1>WELCOME TO MY FIRST PROJECT - EMOTIONS!</h1>
        <!-- <h2>Please sign up or login to continue</h2> -->
        <div class = 'container'>
            <h2>Random emotion of the day:</h2>    
                <form method = 'POST'>
                    <div class ={{className}} >
                    <h1><strong>{{value}}</strong></h1>
                    </div>
                    <br>
                    {% csrf_token%}
                    <input type="submit" class = 'btn btn-success' value = 'Update'>
                </form>
        </div> 

    </div>
    <div class = 'container'>

    </div>
    {%endblock%}