{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>My app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/mystyles.css'%}">
        <style>
            .boxy{
                background:red;
                border: 1px solid black;
            }
            .myBlueDuplicates {
                background-color: rgb(240, 240, 134);
                border: 1px solid black;
            }
        </style>   
    </head>
    <body>
        <nav class = 'navbar navbar-default navbar-static-top'>
            <div class = 'container'>
                <ul class = 'nav navbar-nav'>
                    <li><a class='navbar-brand' href="{% url 'index'%}">FOODTRACKER</a></li>
                    <!-- <li><a class = 'navbar-link' href="{% url 'admin:index'%}">Admin</a></li> -->
                    <li><a class = 'navbar-link' href="{% url 'basic_app:emotions_form'%}">EMOTIONS FORM</a></li>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:emotions'%}">MY EMOTIONS</a></li>
                    <li><a class = 'navbar-link' href="{% url 'basic_app:vis'%}">CHARTS</a></li>


                </ul>
                <ul class = 'nav navbar-nav mr-auto navbar-right'>
                    {% if user.is_authenticated%}
                        
                        <form action="{% url 'basic_app:logoutuser'%}" method ="POST">
                            {% csrf_token %} 
                            Logged in as {{user.username}}&nbsp;
                            <button type = "submit" class = 'btn btn-default'>Logout</button>
        
                        </form>
                    
                    {%else%}
                        <li><a href="{% url 'signupuser'%}">Sign up</a></li>
                        <li><a href="{% url 'basic_app:loginuser'%}">Login</a></li>
        
                    {% endif%}
                </ul>
            </div>
        </nav>
        <div class = 'container'>
            {% block body_block%}
                <h1>About me</h1>
                <div class = 'row'>
                    <div class = 'col-lg-4'>
                        <label for="">What do you think about yourself:</label>
                        <form action = '{% url "basic_app:about_me"%}' class="navbar-form navbar" method = 'POST'>
                            <div class="form-group">
                                {% csrf_token%}
                                <input type="text" class="form-control" placeholder="Add 20 phrases about me" name = "text">
                            </div> 
                            <button type="submit" class="btn btn-success" name= 'about_me'>Add </button>
                        </form>
                        <br>
                        <table class="table table-striped table-hover">
                            <thead class = "">
                              <tr>
                                <th >Description</th>
                                <th >Delete item</th>
                              </tr>
                            </thead>
                            <tbody>  
                            {% for item in text%}
                                <tr>
                                    <td>{{item}} </td> 
                                    <td> <a href="{%url 'basic_app:delete_about_me' item.id%}">Delete</a>  </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                          </table>

                            
                    </div>
                    <div class = 'col-lg-4'>
                        <label for="">What others think about you:</label>
                        <form action = '{% url "basic_app:about_me"%}' class="navbar-form navbar" method = 'POST'>
                            <div class="form-group">
                                {% csrf_token%}
                                <input type="text" class="form-control" placeholder="Add 20 phrases about me" name = "text">
                            </div> 
                            <button type="submit" class="btn btn-success" name= 'about_me_others'>Add </button>
                        </form>
                        <br>
                        <table class="table table-striped table-hover">
                            <thead class = "">
                              <tr>
                                <th >Description</th>
                                <th >Delete item</th>
                              </tr>
                            </thead>
                            <tbody>  
                            {% for item in text2%}
                                <tr>
                                    <td>{{item}} </td> 
                                    <td> <a href="{%url 'basic_app:delete_about_me_others' item.id%}">Delete</a>  </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                          </table>


                    </div>
                    <div class = 'col-lg-4'>
                        <label for="">What would you like to think about yourself:</label>
                        <form action = '{% url "basic_app:about_me"%}' class="navbar-form navbar" method = 'POST'>
                            <div class="form-group">
                                {% csrf_token%}
                                <input type="text" class="form-control" placeholder="Add 20 phrases about me" name = "text">
                            </div> 
                            <button type="submit" class="btn btn-success" name= 'about_me_future'>Add </button>
                        </form>
                        <br>
                        <table class="table table-striped table-hover">
                            <thead class = "">
                              <tr>
                                <th >Description</th>
                                <th >Delete item</th>
                              </tr>
                            </thead>
                            <tbody>  
                            {% for item in text3%}
                                <tr>
                                    <td>{{item}} </td> 
                                    <td> <a href="{%url 'basic_app:delete_about_me_future' item.id%}">Delete</a>  </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                          </table>


                    </div>

                </div>
            {% endblock%}
        </div>

    </body>
</html>